*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#74c0fc,#b197fc);
  padding:20px;
   transition:0.3s;
}

.container{
  display:flex;
  gap:30px;
  max-width:900px;
  width:100%;
  padding:30px;
  background:rgba(255,255,255,0.25);
  backdrop-filter:blur(12px);
  border-radius:20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}


.left{
  flex:1;
  display:flex;
  flex-direction:column;
  gap:10px;
}

h1{
  margin-bottom:10px;
}

input{
  padding:12px;
  border:none;
  border-radius:8px;
}

button{
  padding:12px;
  border:none;
  border-radius:8px;
  color:white;
  cursor:pointer;
}

.income{ background:#37b24d; }
.expense{ background:#4263eb; }

ul{
  list-style:none;
}

li{
  display:flex;
  justify-content:space-between;
  padding:6px 0;
  border-bottom:1px solid #eee;
}

#balance{
  margin-top:10px;
}


.right{
  flex:1;
  display:flex;
  align-items:center;
  justify-content:center;
}

.right img{
  width:100%;
  height: 60%;
  max-width:320px;
  border-radius: 15px;
  animation: float 4s ease-in-out infinite;
}

.delete{
  margin-left:10px;
  background:red;
  color:white;
  border:none;
  padding:4px 8px;
  border-radius:6px;
  cursor:pointer;
  font-size:12px;
}

.top-bar{
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:15px 20px;
  position:absolute;
  top:0;
  left:0;
}

.back-btn{
  background:#000;
  color:white;
}

.dark-btn{
  background:#333;
  color:white;
    cursor:pointer;
    border-radius:8px;
      border:none;
      padding:10px 18px;
}


.dark{
  background:linear-gradient(135deg,#000,#434343);
  color:white;
}

.dark .container{
  background:rgba(0,0,0,0.4);
}

.dark input{
  background:#222;
  color:white;
}

.dark li{
  border-bottom:1px solid #444;
}

.hero{
  min-height:90vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:40px;
  gap:40px;
}


.text{
  flex:1;
}

.text h1{
  font-size:50px;
  margin-bottom:15px;
}

.text p{
  font-size:18px;
  opacity:0.85;
  margin-bottom:20px;
  max-width:500px;
}

.start-btn{
  padding:14px 25px;
  font-size:18px;
  background:black;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

.image{
  flex:1;
  display:flex;
  justify-content:center;
}

.image img{
  width:100%;
  max-width:450px;
  animation: float 4s ease-in-out infinite;
}
@keyframes float{
  0%{transform:translateY(0)}
  50%{transform:translateY(-15px)}
  100%{transform:translateY(0)}
}


@media(max-width:768px){
  .container{
    flex-direction:column;
    text-align:center;
    margin-top: 40px;
  }
}
@media(max-width:600px){

  .top-bar{
    flex-direction:row;
    justify-content:space-between;
  }

  .back-btn,
  .dark-btn{
    flex:1;
    font-size:13px;
    padding:10px;
  }
}

@media(max-width:900px){
  .hero{
    flex-direction:column;
    text-align:center;
  }

  .text h1{
    font-size:35px;
  }

  .top-bar{
    padding:15px 20px;
  }
}
